<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDW1R-viW1NiQvUyiNo-1E-N5oFINkqH6I</string>
	<key>GCM_SENDER_ID</key>
	<string>717585913701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smoe</string>
	<key>PROJECT_ID</key>
	<string>smoe-48557</string>
	<key>STORAGE_BUCKET</key>
	<string>smoe-48557.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717585913701:ios:23133b57d6d97f9c70b38c</string>
</dict>
</plist>